<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Babel</title>
</head>
<body>
    <h2>House: {{ _('House') }}</h2>
    <br>
    <h2>US Number: {{ results['us_num']}}</h2>
    <h2>SE Number: {{ results['se_num']}}</h2>
    <h2>POL Number: {{ results['pl_num']}}</h2>
    <br>
    <h2>US Date: {{ results['us_date']}}</h2>
    <h2>Local Date: {{ results['local_date']}}</h2>
    <h2>PL Date: {{ results['pl_date']}}</h2>
    <br>
    <h2>US DateTime: {{ results['us_dt']}}</h2>
    <h2>SE DateTime: {{ results['se_dt']}}</h2>
    <h2>PL DateTime: {{ results['pl_dt']}}</h2>
</body>
</html>